@import "tailwindcss";
@custom-variant dark (&:where([theme-mode=dark], [theme-mode=dark] *));

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--td-scroll-track-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--td-scrollbar-color);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--td-scrollbar-hover-color);
}

.gl-dialog .t-dialog__position {
  padding: 0;
}

.drawer-nopadding .t-drawer__body {
  padding: 0;
}

.t-submenu.t-is-opened .t-menu__sub {
  max-height: unset !important;
}
