@import "tailwindcss";
@custom-variant dark (&:where([theme-mode=dark], [theme-mode=dark] *));
@theme {
  --breakpoint-sm: 32rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--td-scroll-track-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--td-scrollbar-color);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--td-scrollbar-hover-color);
}

.gl-dialog .t-dialog__position {
  padding: 0;
}

.gl-form .t-form__label > label {
  display: flex;
  align-items: center;
}

.gl-form .t-form__label.t-form__label--right > label {
  justify-content: flex-end;
}

.gl-form .t-form__controls-content .t-input-number {
  width: 100%;
}

.gl-checkbox .t-checkbox__label {
  overflow: hidden;
}

.gl-tabs .t-tabs__nav-scroll {
  overflow-x: auto;

  &::-webkit-scrollbar {
    height: 0;
  }
}

.drawer-nopadding .t-drawer__body {
  padding: 0;
}

.t-submenu.t-is-opened .t-menu__sub {
  max-height: unset !important;
}

.t-table--layout-auto th {
  max-width: 200px;
}

.t-table--layout-auto td {
  max-width: 250px;
}

.t-tabs.t-size-s .t-tabs__nav {
  min-height: var(--td-comp-size-xl) !important;
}

.t-tabs.t-size-s .t-tabs__btn {
  height: var(--td-comp-size-xl) !important;
  line-height: var(--td-comp-size-xl) !important;
}

.t-tabs.t-size-s .t-tabs__nav-item {
  height: var(--td-comp-size-xl) !important;
  line-height: var(--td-comp-size-xl) !important;
}

.t-table .t-table__pagination {
  padding: 16px 0 0;
}
